  <%- partial('partial/head') %>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

              <%- partial('partial/header') %>              
              <%- body %>

						</div>
					</div>

        <%- partial('partial/sidebar') %>

			</div>

		<!-- Scripts -->
      <%- js('js/jquery.min') %>
      <%- js('js/skel.min') %>
      <%- js('js/util') %>
      <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"><%- js('js/ie/respond.min') %></script><![endif]-->
      <%- js('js/main') %>

	</body>
</html>
