<!-- Section -->
<section>
  <header class="major">
    <% if (theme.contact.title) { %>
      <h2><%- theme.contact.title -%></h2>
    <% }  else { %>
      <h2>Get In Touch</h2>
    <% } %>
  </header>
  <% if (theme.contact.message) { %>
    <p><%- theme.contact.message -%></p>
  <% } %>
  <ul class="contact">
    <% if (theme.contact.email) { %>
    <li class="fa-envelope-o"><a href="#"><%- theme.contact.email -%></a></li>
    <% } %>
    <% if (theme.contact.phone) { %>
    <li class="fa-phone"><%- theme.contact.phone -%></li>
    <% } %>
    <% if (theme.contact.address) { %>
    <li class="fa-home"><%- theme.contact.address -%></li>
    <% } %>
  </ul>
</section>
