<!-- Sidebar -->
<div id="sidebar">
	<div class="inner">
		<%- partial('partial/sidebar/search') %>
			<%- partial('partial/sidebar/menu') %>
				<%- partial('partial/sidebar/articles') %>
					<%- partial('partial/sidebar/getintouch') %>
						<%- partial('partial/footer') %>
	</div>
</div>
